############################
# Eclipse Workspace
############################
.metadata/

############################
# IntelliJ IDEA
############################
.idea/
*.iml

############################
# VS Code
############################
.vscode/

############################
# Maven / Java
############################
**/target/
*.class
*.log

############################
# Node.js
############################
**/node_modules/
**/dist/
**/build/

############################
# Environment Files
############################
.env
.env.*

############################
# Operating System Files
############################
.DS_Store
Thumbs.db